<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
	</head>
	<body>
		<a href="/"><h1>Twitter</h1></a>

		<a href="/users/registration">Sign Up!</a><br>
		<a href="/tweets/new">Make a new tweet here</a>
		<br><br>
		{{{ body }}}
	</body>
</html>
