<h1>User Registration</h1>

<form action="/users/create" method="POST">
	<input type="text" name="username" placeholder="put your username here"></input>
	<textarea name="password" placeholder="put your password here"></textarea>
	<input type="submit"></input>
</form>